<% if (theme.visit_counter) { %>
<span id="busuanzi_container_page_pv" style='display:none'>
    <i class="icon icon-eye icon-pr" aria-hidden="true"></i>&nbsp;&nbsp;<span id="busuanzi_value_page_pv"></span>
</span>
<% } %>
